* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.6;
  background-color: #f9f9f9;
  color: #333;
}

section {
  padding: 4rem 2rem;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 2rem;
}

h2 {
  font-weight: 700;
  color: #591a81;
  margin-bottom: 1rem;
}

a {
  text-decoration: none;
  color: #571a8d;
}

a:hover {
  color: #f1c40f;
}
html {
  scroll-behavior: smooth;
}
