.resumeSection {
  padding: 4rem 2rem;
  text-align: center;
  background-color:  #f7f7f7;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

}
.resumeSection h2{
  font-size: 2.5rem;
  color: #743dbd;
  margin-bottom: 40px;
  font-weight: 800;
  text-transform: uppercase;
  position: relative;
}

.resumeText {
  margin-bottom: 1.5rem;
  color: #374151;
}

.resumeLink {
  display: inline-block;
  padding: 10px 20px;
  color: white;
  text-decoration: none;
  background: linear-gradient(to right, #9333ea, #a855f7);
  color: rgb(255, 255, 255);
  font-weight: 600;
  border-radius: 25px;
  transition: background-color 0.3s ease;
  box-shadow: 0 4px 12px rgba(168, 85, 247, 0.4);

}
